<% if (gist.get("favorite")) { %>
  &#x2605;
<% } %>

<a href="#" data-id="<%= gist.get("id") %>" class="gist-title">
<%= gist.get("title") %>
</a>
<button class="fav" data-id="<%= gist.get("id") %>">Favorite</button>