<ul>
  <% gists.each(function(gist) { %>
    <li>
      <% var detail = new GistClone.Views.GistDetail( {model: gist} ) %>
      <%= detail.render().$el.html() %>
    </li>
  <% }); %>
</ul>

<a id="new-gist" href="#">make new gist</a>