<br>
<label>Gistfile name
  <input type="text" name="gist[gist_files][<%= index %>][name]">
</label>

<label>Gistfile content
  <textarea name="gist[gist_files][<%= index %>][body]"></textarea>
</label>