<div id="content"></div>

<script id="gists-json" type="application/json">
  <%= current_user.gists.includes(:favorites).to_json(include: :favorites).html_safe %>
</script>

<script>
$(document).ready(function() {
  GistClone.initialize(<%= current_user.id %>);
});
</script>