<div id="content"></div>

<script id="gists-json" type="application/json">
  <%= Gist.all.to_json.html_safe %>
</script>

<script>
$(document).ready(function() {
  GistClone.initialize();
});
</script>